<div class="well" id="well1">
    <div class="container">
      <div class="card" style="width: 50rem; length: 25rem;" id="showCard">
        <h1>New Product</h1>

        <%= render 'form', product: @product %>

        <%= link_to 'Back', products_path %>
      </div>
    </div>
</div>
